  
/* Formatações gerais
-------------------------- */
html, body, #home {
    height: 100%;
    overflow-x: hidden;
    overflow-y: visible;
}

body {
    background: url(../img/body.jpg),
    linear-gradient(50deg, #3c2d64, #170136);
    background-attachment: fixed;
    font-family: Helvetica, Arial, sans-serif;
}


nav.navbar-transparent {
    padding: 5px 0px;
    background: rgb(90, 85, 139);
}

.navbar-light .navbar-nav .nav-link {
    color: white;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #281252;
}


.logo-escrito h3{
    color: black;
    font-size: 50px;
    padding: 0px;
    font-family: 'Oregano', cursive;
    letter-spacing: 5px;
}

.logo-escrito span{
    color: red;
    font-family: 'Oregano', cursive;
}
.logo-escrito p{
    text-align: top;
    font-family: 'Oregano', cursive;
    color: #fff;
    line-height: 0px;
}

/*Modificação do texto logo
------------------------------ */
.texto-logo {
    text-align: left;
    color: #fff;
    cursor: default;
    font-family: Raleway, Helvetica, Arial, sans-serif;
}

.texto-logo h2 {
    font-size: 1.11em;
    padding: 10px 0 0 0;
    margin-top: 6px;
    margin-left: -30px;
}

.texto-logo p {
    display: inline;
    font-size: 0.8em;
    margin: 0;
    margin-left: -30px;
}

/*Estilo Personalizado
***************************************/
.estilo-personalizado {
    padding:15px 5px 15px 5px;
}

.estilo-personalizado p{
    color:  black;
    text-align: justify;
    padding: 5px;
}

.estilo-personalizado h2 {
    color: #7c25f8;
    padding-bottom: 5px;

}

.estilo-personalizado h3{
    color: black;
    padding-bottom: 20px;
}



#servicos {
    background: white;
    margin-top: 5.5em;
}

#servicos h2,h3 {
    color: #7c25f8;
}

/* capa
--------------------------*/

.capa {
    text-align: center;
}

.servicos{
    background: white;
    color:black;
}

.servicos h1{
    color: black;
    font-size: 2.8em;
}

.carousel-item h1{
    color: rgb(224, 32, 32);
}

.sobre {
    background: white;
    margin:10px 0 10px 0;
    padding: 20px;
    text-align: center;

}

span{
    text-align: justify;
}


/* capa de apresentação
--------------------------*/
.capa {
    text-align: center;
}

.conteudo {
    width: 500px;
    height: 500px;
}

/* Recursos
*********************/
.caixa {
    padding-bottom: 20px;
    padding-top: 20px;
}
.recursos {
    background: #fff;
    padding-top: 40px;
}

.recursos img{
    height: 17em;
    right: 17em;
}

.recursos h4 {
    padding-top: 20px;
}

.recursos p{
    padding-bottom: 20px;
    text-align: justify;
}

/** Quem somos
*************************/
#quem-somos {
    color: black;
    text-align: justify;
    font-size: 18px;
}

#quem-somos h3 {
    color: black; 
}

.albuns {
    padding: 10px 0;
}

.albuns img{
    height: 11em;
    right: 11em;
}

#quem-somos img{
    height: 28em;
    right: 28em;
    padding-left: 50px;
}


/* Contato
---------------------------*/
.header-img {
    height: 150px;
}

.contato {
    background: white;
    padding: 30px;
}


/* Rodape
--------------------------*/
footer {
    background: #000;
    padding: 30px 0px 20px 0px;
    position: relative;
}

footer span {
    color: grey;
    text-transform: uppercase;
}

footer h4 {
    color: grey;
    font-size: 0.8em;
    text-transform: uppercase;
}

footer .navbar-nav a {
    color: white;
    font-size: 0.8em;
}

footer .navbar-nav a:hover {
    color: #f09b9b;
    text-decoration: none;
}

footer ul {
    list-style: none;
}

footer ul li {
    float: right;
    margin: 0 5px;
}


/* Tipografia
--------------------------*/
h1 {
    font-weight: 900;
    letter-spacing: -0.05em;
    margin-bottom: 50px;
    color: white;
}

h2 {
    font-size: 3em;
    font-weight: 700;
    letter-spacing: -0.04em;
}

h3 {
    font-size: 2em;
    font-weight: 700;
    letter-spacing: -0.04em;
}   

/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
     .btn-custom {
        margin: 10px 15px;
        font-size: 1em;
    }

}

/*Small devices (landscape phone, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px){
    h1 {
        font-size: 3em;
    }
    .btn-custom {
        margin: 10px 15px;
       
    }
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px){
    h1 {
        font-size: 4em;
    }
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 991.98px) and (max-width: 1199px){
    h1 {
        font-size: 5em;
    }
}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px){
    h1 {
        font-size: 6em;
    }
}